@import './colors.less';


// Width
@width-app-left: 88px;

// Height
@height-toolbar: 60px;
@height-player: 74px;


// Shadow
@shadow-app: 8px;


// Radius
@radius-progress-border: 5px;
@radius-border: 8px;

@transition-slow: .6s ease;
@transition-normal: .4s ease;
@transition-fast: .3s ease;

@form-radius: 8px;
