* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.ico binary
*.icns binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.wav binary
*.mp3 binary
*.7z binary
*.zip binary
*.node binary
*.woff binary
*.woff2 binary
*.ttf binary
*.pdf binary
